.container {
  /*position: relative;*/
  height: 400px; /* Adjust as needed */
}

.bounce {
  position: relative;
  bottom: -5cm;
  animation: bounceAndRotate .8s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Adjust animation duration as needed */
}

@keyframes bounceAndRotate {
  0%, 100% {
    transform: translateY(50) rotate(0deg);
  }
  25% {
    transform: translateY(0px)  rotate(-10deg); /* Bounce to the right */
  }
  50% {
    transform: translateY(50) rotate(0deg);
  }
  75% {
    transform: translateY(0px)  rotate(10deg); /* Bounce to the left */
  }
}
